.wrapper {
  height: 100%;
  width: 100%;
}

.label {
  align-items: center;
  display: flex;
  margin-bottom: 4px;
  display: block;
  --tw-text-opacity: 1;
  color: rgb(66 102 113 / var(--tw-text-opacity));
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 24px;
}

.wrapper2 {
  position: relative;
}

.m-top {
  margin-top: 16px;
}

/* image grand parent */
.image-gp {
  display: flex;
  justify-content: center;
}

.m-top-40 {
  margin-top: 40px;
}

.margin-auto {
  margin: auto;
}

.text-wrapper {
  font-size: 1rem;
  font-weight: 600;
  line-height: 24px;
  --tw-text-opacity: 1;
  color: rgb(11 57 71 / var(--tw-text-opacity));
  text-align: center;
  width: auto;
  margin: auto;
  margin-top: 32px;
}
